/* font  */


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* padding: 0; */
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* banner  */

.banner {
    background-color: #2D25A0;
    width: 100%;
    height: 677px;
    
}

.banner-container {
    display: flex; 

     margin-top:135px ;  
     margin-left: 10%;
     margin-right: auto;


}

.banner-container-left {
    
    width: 485px;
    height: 230px;
    margin-right: 101px;
    color: white;
}

.banner-container-left h1 {
    font-size: 64px;
    margin-top: 70px;
    margin-bottom: 27px;
    
}

.banner-button {
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.banner-container-left a {
    text-decoration: none;
    color:white;
    margin-right: 8px;
    
}

.banner-container-right {
    margin-right: 141px;

    margin-left: auto;
}

.banner-container-right img {
    width: 560px;
    height: 438px;
}



/* player section  */

.players-section{
    display: grid;
    justify-content: center;
    margin-left: 13%;
    margin-right: 17%;
    margin-top: 70px;
    margin-bottom: 165px;
    grid-template-columns: repeat(3, 360px);
    grid-gap: 45px 30px;
}

.plyaer-container {
    width: 330px;
    height: 474px;
  
    background-color: #ffffff;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.thumbnail {
    width: 100%;
    height: 256px;
}

.name {
    margin: 16px 0 10px 0;
    color: #18191f;
}
.details {
    margin: 0;
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 400px;
}


/* footer  */ 

.footer-background{
    /* background-color: rgb(75, 71, 126); */
    /* background-repeat: no-repeat; */
    background-size: 500px 5000px;
}
.footer-class {
    text-align: center;
    margin-bottom: 100px;
}


.footer-img img{
    width: 483.87px;
    height: 110px;
    margin-bottom: 20px;
       
}

footer a {
    text-decoration: none;
}
.icon-container {
      margin-bottom: 24px;
}


.icons {
    width: 32px;
    height: 32px;
    color: gray;
    background-color: lightgray;
    border-radius: 50%;
    display: inline;
    padding: 7.47px;
    margin-right: 14px;
    margin-top: 20px;
}

.copyright{

    font-size: 18px;
    font-weight: 400px;
    color: #000000;
}
